* :before, :after{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Poppins_SemiBold';
  src: url(../fonts/Poppins-SemiBold.ttf) format(truetype);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins_Regular';
  src: url(../fonts/Poppins-Regular.ttf) format(truetype);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: 'Poppins_Regular', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
}

.main {
  max-width: 1128px;
  width: 100%;
}

.container {
  display: flex;
  width: 100%;
  height: 446px;
}

h1 {
  display: inline;
  font-size: 28px;
  font-weight: 400;
}

.up {
  transform: translate(15%, 10%);
}

.title {
  font-size: 16px;
  padding-left: 0;
  margin-bottom: 30px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 448px;
}

.man {
  width: 365px;
  height: 446px;
}

ul {
  list-style-type: none;
  width: 730px;
  height: 388px;
  padding-left: 15px;
}

p {
  font-size: 14px;
  line-height: 21px;
  padding-right: 25px;
  padding-left: 60px;
}

b {
  font-family:'Poppins_SemiBold', sans-serif;
  font-size: 16px;
}

svg {
  float: left;
  padding: 0 20px 30px 0;
  width: 50px;
  height: 50px;
}