* :before, :after{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

h1 {
display: inline;
font-family: 'Poppins';
}

#first {
  font-family: 'Poppins';
  font-size: 20px;
}

.col1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 365px;
  height: 449px;
  float: left;
  padding: 8px;
}
.col2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 600px;
  float: left;
  padding: 5px;
  font-family: 'Poppins';
}

ul {
  font-size: 17px;
  padding: 0px;
  }

li {
  list-style-type: none;
  }

.p1 {
  float: left;
  justify-content: center;
  margin: 10px;
  position: relative;
  display: inline-block;
  width: 30px;
  height: 50px;
  }

  .p1 img {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
